.footer {
  background: #f3f6ef;
}

.footer__wrapper {
  background: #6bffca;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1536px;
  align-items: center;
  padding: 19px 153px;
}

.footer__text {
  font-size: 14px;
  font-weight: 500;
  color: #6e6c72;
}

.footer__images {
  display: flex;
  gap: 0px 30px;
  align-items: center;
}
