.section-contacts {
  background: #f3f6ef;
  padding: 103px 0px 80px 0px;
}

.contacts__inner {
  max-width: 1536px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0px 276px;
  margin: 0 auto;
}

.contacts__inner-image {
  height: 103px;
}
