.header {
  padding: 20px 0;
  background: #f3f6ef;
  box-shadow: 0px 1px 14px 0px #0000001f;
  position: relative;
  top: 0;
  left: 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  align-items: center;
  gap: 0 49px;
}
