.header {
  background: #f3f6ef;

  position: relative;

  top: 0;
  left: 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f3f6ef;
  max-width: 1555px;
  margin: 0 auto;
  padding: 20px 174px 20px 161px;
  box-shadow: 0px 1px 14px 0px #0000001f;
}

.header__navigation {
  display: flex;
  align-items: center;
  gap: 0 49px;
}
